body {
  margin: 0;
  line-height: normal;
}
.background-blood-15 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1280px;
  height: 910px;
  object-fit: cover;
}
.macbook-air-25-child {
  position: absolute;
  top: 263px;
  left: 230px;
  background-color: var(--color-gainsboro-100);
  width: 761px;
  height: 176px;
}
.had-a-tattoo {
  position: absolute;
  top: 293px;
  left: 262px;
  font-size: var(--font-size-8xl);
  color: var(--color-black);
  display: inline-block;
  width: 720px;
  height: 58px;
}
.macbook-air-25-inner,
.macbook-air-25-item {
  position: absolute;
  top: 375px;
  background-color: var(--color-mediumpurple);
  width: 103px;
  height: 41px;
  cursor: pointer;
}
.macbook-air-25-item {
  left: 375px;
}
.macbook-air-25-inner {
  left: 587px;
}
.no3,
.yes3 {
  position: absolute;
  top: 375px;
  display: inline-block;
  width: 58px;
  height: 28px;
}
.yes3 {
  left: 406px;
}
.no3 {
  left: 618px;
}
.macbook-air-25 {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 797px;
  overflow: hidden;
  cursor: pointer;
  text-align: left;
  font-size: var(--font-size-4xl);
  color: var(--color-white);
  font-family: var(--font-itim);
}
